{#<!DOCTYPE html>#}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Petzo</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/hs/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/hs/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/hs/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="/static/hs/images/logo.png" alt="">
            <span>
              Petzo
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/hs_home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/hsview_profile#about">Profile </a>
                </li>   <li class="nav-item">
                  <a class="nav-link" href="/view_vaccines#about">Vaccines </a>
                </li>

                  <li class="nav-item">
                  <a class="nav-link" href="/hospital_view_user#about">Users </a>
                </li>  <li class="nav-item">
                  <a class="nav-link" href="/hs_view_tips#about">Tips </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/hs_view_rating#about">Rating </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
{#              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">#}
{#                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>#}
{#              </form>#}
            </div>
            <div class="quote_btn-container  d-flex justify-content-center">
              <a href="">
                Call:+91 9999999998
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Professional
                      <span>
                        Care Your Pet
                      </span>
                    </h1>
                    <p>
                    A pet hospital provides medical care for animals, offering services like check-ups, vaccinations, surgeries, emergency care, and diagnostics. Staffed by veterinarians, it ensures pets
                        receive necessary treatments for health issues and preventive care.
                    </p>
                    <div class="btn-box">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="/static/hs/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Professional
                      <span>
                        Care Your Pet
                      </span>
                    </h1>
                    <p>
                     A pet hospital offers veterinary services, including check-ups, vaccinations, surgeries, and emergency care. It provides medical treatment for pets, ensuring their health and well-being
                        under the care of skilled veterinarians and support staff.
                    </p>
                    <div class="btn-box">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="/static/hs/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Professional
                      <span>
                        Care Your Pet
                      </span>
                    </h1>
                    <p>
                     A pet hospital provides comprehensive healthcare for animals, offering services such as vaccinations, surgeries, emergency care, and routine check-ups, all delivered by
                        experienced veterinarians to ensure the health and well-being of pets.
                    </p>
                    <div class="btn-box">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="/static/hs/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Professional
                      <span>
                        Care Your Pet
                      </span>
                    </h1>
                    <p>

A pet hospital offers specialized medical care for animals, including vaccinations, surgery, diagnostics, and emergency services,
                        ensuring pets receive proper treatment and care from qualified veterinarians.
                    </p>
                    <div class="btn-box">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="/static/hs/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/hs/images/about.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2 class="custom_heading">
              About Our Pets
              <span>
                Clinic
              </span>
            </h2>
            <p>


                Our Pets Clinic is dedicated to providing high-quality healthcare for your beloved pets. We offer a range of services, including routine check-ups, vaccinations, surgeries, and emergency care, all delivered by experienced veterinarians. Our mission is to ensure the well-being and comfort of your pets, offering compassionate care in a friendly, safe environment.

              </p>
            <div>
              <a href="#">
                About More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <br>
  <br>
  <div id="about">
      {% block body %}
      {% endblock %}
  </div>
  <br>
  <br>

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            Our <span>Services</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-4">
                <div class="img_box">
                  <img src="/static/hs/images/s-1.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Pet Care
                  </h6>
                  <p>
                    Pet care regarding vaccines is essential for preventing various infectious diseases in pets. Vaccines help protect pets from conditions like rabies, parvovirus, distemper, and feline leukemia. Regular vaccinations, as recommended by a veterinarian, ensure your pet’s health, boost immunity, and prevent the spread of diseases to other animals.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img_box">
                  <img src="/static/hs/images/s-2.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Pet Hotel
                  </h6>
                  <p>

                      A pet hotel provides temporary lodging and care for pets when their owners are away. These facilities offer a safe, comfortable environment with services like feeding, grooming, playtime, and medical attention. Pet hotels ensure pets are well-cared for, allowing owners peace of mind while traveling

                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img_box">
                  <img src="/static/hs/images/s-3.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Emergency
                  </h6>
                  <p>

                      Emergency pet care refers to medical attention provided to animals in urgent or critical situations, such as accidents, severe illnesses, or sudden health changes. Emergency services may include trauma care, surgery, diagnostics, and intensive treatment, available 24/7 to ensure pets receive immediate and life-saving care.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="#">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/static/hs/images/tool.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->



  <!-- gallery section -->
  <section class="gallery-section layout_padding">
    <div class="container">
      <h2>
        Our Gallery
      </h2>
    </div>
    <div class="container ">
      <div class="img_box box-1">
        <img src="/static/hs/images/g-1.png" alt="">
      </div>
      <div class="img_box box-2">
        <img src="/static/hs/images/g-2.png" alt="">
      </div>
      <div class="img_box box-3">
        <img src="/static/hs/images/g-3.png" alt="">
      </div>
      <div class="img_box box-4">
        <img src="/static/hs/images/g-4.png" alt="">
      </div>
      <div class="img_box box-5">
        <img src="/static/hs/images/g-5.png" alt="">
      </div>
    </div>
  </section>



  <!-- end gallery section -->

  <!-- buy section -->


  <!-- end buy section -->

  <!-- client section -->
  <!-- end client section -->

  <!-- map section -->

  <section class="map_section">


    <div class="form_container ">
      <div class="row">
      </div>
    </div>
    </div>
  </section>


  <!-- end map section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Location
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                +91 9999999998
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                petzo@gmail.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a href="#">Petzo</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/hs/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/hs/js/bootstrap.js"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {
          lat: 40.645037,
          lng: -73.880224
        },
      });

      var image = 'images/maps-and-flags.png';
      var beachMarker = new google.maps.Marker({
        position: {
          lat: 40.645037,
          lng: -73.880224
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->
</body>
</body>

</html>