<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><div align="center"><a href="/view_hospital">accepted_vet_hospital</a></div></td>
  </tr>
  <tr>
    <td><a href="/view_vethostpital">verify_vethosp</a></td>
  </tr>
  <tr>
    <td><a href="/verifypetshop">verify_petshop</a></td>
  </tr>
  <tr>
    <td><a href="/viewacceptedpetshop">view accepted petshop</a></td>
  </tr>
  <tr>
    <td><a href="/viewcomplaintandrating">view_complaint&rating</a></td>
  </tr>
  <tr>
    <td><a href="/viewpetshoprating">view_petshop_rating</a></td>
  </tr>
  <tr>
    <td><a href="/viewuser">view_user</a></td>
  </tr>
  <tr>
    <td><a href="sendreply">send_reply</a></td>
  </tr>
</table>
</body>
</html>
